[submodule "contracts/househodl/lib/forge-std"]
	path = contracts/househodl/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/househodl/lib/solidity-bytes-utils"]
	path = contracts/househodl/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils.git
[submodule "contracts/househodl/lib/devtools"]
	path = contracts/househodl/lib/devtools
	url = https://github.com/layerzero-labs/devtools
[submodule "contracts/househodl/lib/openzeppelin-contracts"]
	path = contracts/househodl/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
